<h1>Login</h1>

<%= form_tag(sessions_path) do%>
     <%= text_field_tag :email, '', :placeholder => "Your Email"%>
     <%= password_field_tag :password, '', :placeholder => "Your Password"%>

     <%= submit_tag "Login"%>
    
<% end %>
<br>
Note: admin@admin/pwd:1234<br>
<div class="link_to">
<%= link_to "HOME", root_path%>
</div>