<h1>Admin's Console</h1>

<%= link_to "Races", races_path%>
<%= link_to "Users", users_path%>

<br>
<h2>Registrations</h2>

<% @registrations.order(:race_id).each do |re|%>


    <% if re.race.status %>
      <span style="background:green">  <%= re.race_id %>  </span>|
    <% else %>
     <span style="background:red">  <%= re.race_id %>  </span>|
    <% end %> 
        <%= re.race.name %> |
          <%= re.race.status %> |
        <%= re.race.miles %> |
        <%= re.user.member_num %> |
        <%= re.user.name %> 
        <%= re.estimated %> |
        <%= re.result %> <br>
 <%end %>

<h2>Result table</h2>
<% @races.order(:date).each do |r|%>
ID: <%= r.id %> | Race: <%= r.name %> | Date: <%= r.date %>| Miles: <%= r.miles %> | Status: <%= r.status ? "Open" : "Closed"%> | Total inscriptions: <%= r.registrations.count %><br>
      <% r.registrations.order(:result).each do |re|%>
         Runner: <%= re.user.member_num %> |
          Runner name:     <%= re.user.name %> |
          Runner result:    <%= re.result ?  re.result : "Pending" %><br>
       <% end %>
  <hr>     
<% end %>