<h1>All Races</h1>

<h2>Races</h2>

<% @races.order(:date).each do |r|%>

        <%= r.id %>  |
        <%= r.name %>  |
        <%= r.miles %>  |
        <%= r.date %> |

       <%  if r.status  %>
         <span style="background:green">   <%=  r.status %> </span>
       <% else %>
         <span style="background:red">   <%=  r.status %> </span>
       <% end %>
        |
       Inscriptions: <%= r.registrations.count %>

        <%= link_to "Edit Race", edit_race_path(r)%>
         <%= link_to "Show Race", race_path(r)%>

   <br>
 
<% end %>











<%= link_to "Create Races", new_race_path%>

<%= button_to "Change Races Status", :action => "updatestatus" %>


<%= link_to "Console", admin_path%>