
<h1>All Races</h1>

<section class="index-races">

<table class="all-races">
       <tr>
          <th>Race id</th>
          <th>Name</th>
          <th>Miles</th>
          <th>Date</th>
          <th>Status</th>
          <th>Total Reg.</th>
          <th>Edit</th>
          <th>Show</th>
          
       </tr>
      <% @races.order(:date).each do |r|%>
         <tr>  
                  <td> <%= r.id %>  </td>
                  <td> <%= r.name %>   </td>
                  <td> <%= r.miles %>   </td>
                  <td> <%= r.date %>  </td>

                  <td>  <%  if r.status  %>
                           <span style="background:green">   <%=  r.status %> </span>
                         <% else %>
                             <span style="background:red">   <%=  r.status %> </span>
                        <% end %>
                  </td>
                  <td> <%= r.registrations.count %>
                  </td>
                  <td>
                    <%= link_to "Edit Race", edit_race_path(r)%>
                  </td>  
                  <td>
                    <%= link_to "Show Race", race_path(r)%>
                   </td> 
           </tr>
      <% end %>
</table>


<div class="link_to">
  <%= link_to "Create Races", new_race_path%>
</div>  

<div class="link_to">
  <%= link_to "Console", admin_path%>
</div> 

<%= button_to "Change Races Status", :action => "updatestatus" %>


</section>