<h1> Edit User</h1>

<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br>

    <%= f.label :dob %>
    <%= f.text_field :dob %><br>

    <%= f.label :pace%>
    <%= f.text_field :pace %><br>

    <%= f.label :email %>
    <%= f.text_field :email %><br>
   
  
    <%= f.submit "Update your profile" %>
<% end %>

<% if !is_admin?(session)%>
   <%= link_to "Back", user_path(current_user(session))%><br>
   <%= link_to "Console", admin_path%>
  <% else %>
  <%= link_to "User", users_path%>
  <% end %>