
<h1> Sign up!</h1>

<%= form_for @user, controller: 'users', action: 'create' do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br>

    <%= f.label 'Date of Birth'%>
    <%= f.date_field :dob %><br>

    <%= f.label 'Pace per mile'%>
    <%= f.number_field :pace %><br>

    <%= f.label :email %>
    <%= f.text_field :email %><br>
   
    <%= f.label :password %>
    <%= f.password_field :password %><br>
  
    <%= f.submit "Create" %>
<% end %>