
  <div class="home-image">
     

  </div>
<div class="col50">
  <div class="quote"> 
      <p>"If you can't fly, then run. If you can't run, then walk. If you can't walk, then crawl. But whatever you do, keep moving."
      </p>
      <p><em>Dr. Martin Luther King Jr</em></p>
  </div>
</div>

<div class="col50">
   <div class="comingraces">
           
                <h1>New Races coming soon!!</h1>
                

                <ul>
               
                <% @activeraces.order(:date).each do |r|%> 
                 <li>   <%= r.date.strftime("%m/%d/%Y") %> <%= r.name %>  

                </li>
                <% end %>
                </ul>
   </div>
</div>



<section class="home-section">
     <h1>RESULTS 2021</h1>
<table id="home-races-title">

        <% @races.order(:date).each do |r|%>
            <tr>
                <%# <th>Race Id: <%= r.id %></th> 
                <th>Race <%= r.id %> - <%= r.name %></th>
                <th>Date: <%= r.date %></th>
                <th>Miles: <%= r.miles %></th>
                <th>Status: <%= r.status ? "Open" : "Closed" %></th>
            </tr>
            
            <tr> 
                <td colspan="4">
                  <table>
                           <tr>
                               <th>Runner</th>
                               <th>Runner Name</th>
                               <th>Result</th>
                          </tr>
                      <% r.registrations.order(:result).each do |re|%>
                          <tr> 
                               <td><%= re.user.member_num %> </td>
                               <td><%= re.user.name %></td>
                               <td> <%= re.result ?  re.result : "Pending" %></td>
                          </tr>
                     
                      <% end %>    
                  </table>

               </td>
            </tr>            
                      
        <% end %>
</table>
</section>