<h1>Main page</h1>

<h2>New Races coming soon!!</h2>

<ul>
<% @activeraces.each do |r|%>
    
        <%= r.name %>  |
        <%= r.miles %>  |
        <%= r.date %>     
        <br>
<% end %>
</ul>



<h2>Result table</h2>
<% @races.order(:date).each do |r|%>
ID: <%= r.id %> | Race: <%= r.name %> | Date: <%= r.date %>| Miles: <%= r.miles %> | Status: <%= r.status ? "Open" : "Closed"%> <br>
      <% r.registrations.order(:result).each do |re|%>
         Runner: <%= re.user.member_num %> |
          Runner name:     <%= re.user.name %> |
          Runner result:    <%= re.result ?  re.result : "Pending" %><br>
       <% end %>
  <hr>     
<% end %>