 <header class="user">
       <%= image_tag('nyrr_logo.svg', :class => "logo", alt:'logo')%> 
      <nav>

          <% if !is_logged_in?(session) %>
            <%= link_to "SIGN UP", new_user_path %>
            <%= link_to "LOGIN", login_path %> 
            <div class="fb-ico">
              <%= link_to image_tag('facebook.png', :class => "fb", alt:'facebook'), user_facebook_omniauth_authorize_path %> 
            </div>  
          <% else %>
              <%= link_to "HOME", root_path%>
              <%= link_to "PROFILE", user_path(session[:user_id])%>
              <%= link_to "LOG OUT", logout_path %>
                <%# <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
          <% end %>
      </nav>

  </header>