<!DOCTYPE html>
<html>
  <head>
    <title>Admin Console</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body class="admin">
<header class="admin">
    <%= image_tag('nyrr_logo.svg', :class => "logo", alt:'logo')%> 
    <nav>
       
       <%= link_to "ADMIN LOG OUT", logout_path %>
    </nav>
    
</header>
<hr>

 
       <%= yield %>

       <%= render "layouts/footer" %>


  
  </body>
</html>